---
---

<div class="container">
	<div class="box" id="box1">
	   
	</div>
	<div class="box" id="box2">
		<p class="boldText">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vestibulum sit amet auctor <br> quam. Vivamus at tristique elit.</p>
		<br>
		<p class="regularText">Pellentesque a ipsum quis purus bibendum <br> pretium non eget eros. Nullam vel congue lorem. <br> Donec molestie nulla vitae est interdum.</p>
	</div>
 </div>



 <style>
	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
	}
  
	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {
	}
  
	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {
	}
  
	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
	}
  
	
  </style>