---
interface Props {
	text: string;
}

const { text } = Astro.props;
import '../styles/global.css'
---

<div id="button">
    {text}
</div>


 
  <style>
  .buttonStyle1 {
	border-style:solid;
	border-width:2px;
	padding: 0.44rem 1.11rem 0.44rem 20px;
    color:var(--complimentaryColor);
  }
</style>
