---
import cryptoFaxReportLogoIcon from "../images/cryptofaxreport-logo-icon.svg";
import cryptoFaxReportLogoText from "../images/cryptofaxreport-logo-text.svg";
import "../styles/global.css";
---

<div id="mainNavContainer">
  <div id="leftSide">
    <div id="logoIcon">
      <img
        src={cryptoFaxReportLogoIcon.src}
        alt="CryptoFaxReport.com Logo Icon"
      />
    </div>
    <div id="logoText">
      <img
        src={cryptoFaxReportLogoText.src}
        alt="CryptoFaxReport.com Logo Text"
      />
    </div>
  </div>
  <div id="rightSide">
    <nav>
      <a href="#">Home</a>
      <a href="#">Reports</a>
      <a href="#">CFR Academy</a>
      <a href="#">Contact</a>
      <a id="buttonArea1" href="#"><span class="buttonStyle1">Login</span></a>
      <a id="buttonArea2" href="#"><span class="buttonStyle1">Sign up</span></a>
    </nav>
  </div>
</div>

<style>
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  #mainNavContainer {
    font-family: var(--primaryFontFamily);
    display: flex;
    justify-content: space-between; /* Spreads out the columns */
    align-items: center; /*Centers content vertically */
    background-color: var(--primaryColor);
    height: 72px;
    font-family: var(--primaryFontFamily);
    border-bottom: 1px solid var(--primaryColor);
    /*this allows us to have a sticky header*/
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  #leftSide {
    font-family: var(--primaryFontFamily);
    margin-left: 3.6rem;
    display: flex;
    justify-content: space-between; /* Spreads out the columns */
    align-items: center; /*Centers content vertically */
    gap: 10px;
  }

  #rightSide {
    font-family: var(--primaryFontFamily);
    margin-right: 3.6rem;
  }

  nav {
    font-family: var(--primaryFontFamily);
    padding-left: 1.8rem;
    font-size: 0.89rem;
    font-weight: 400;
  }

  nav a {
    font-family: var(--primaryFontFamily);
    color: var(--secondaryColor);
    padding-left: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav a:visited {
    font-family: var(--primaryFontFamily);
    color: var(--secondaryColor);
    padding-left: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav a:hover {
    font-family: var(--primaryFontFamily);
    color: var(--complimentaryColor);
    padding-left: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav a:active {
    font-family: var(--primaryFontFamily);
    color: var(--complimentaryColor);
    padding-left: 1.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  #buttonArea1 {
    font-family: var(--primaryFontFamily);
    margin-right: -0.9rem;
  }
</style>
